<p>
  <mat-card *ngFor="let performance of performances" class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{performance.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <span>claps: {{performance.claps}}</span>
        <span>likes: {{performance.likes}}</span>
        <!--button mat-button>Delete</button>
        <button mat-button>Complete </button-->
      </mat-card-actions>
    </mat-card>
</p>
